body
{
}

div.title h1{
    background-color:yellow;
    font-size:40px;
}
div.leviw img {
    height: 200px;
    width: 400px;
}
div.Juel img{
    height: 400px;
    width: 250px;
} 
h2{
    font-size:30px;
}

.leviw{
    display:flex;
    flex-direction:row
}

.leviw p{
    font-size:20px;
}
