body {
}

.title {
    background-color: yellow;
    font-size: 30px;
}

div.Myimg img {
    height: auto;
    width: 300px;
}

div.skillpage {
    display: flex;
    flex-direction: row;
}

div.skill {
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.skill img {
    width: 200px;
    height: 200px;
}

section.container {
    display: flex;
}

@media (max-width: 1000px) {

    div.title {
        font-size: 20px;
    }

    section.container {
        flex-direction: column;
    }
}

@media (max-width: 400px) {

    div.title {
        font-size: 10px;
    }

}